@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    min-width: 400px;
}


/* ---------------------------------- grid ---------------------------------- */
.gridContainer {
    width: 100vw;
    height: 100vh;
    min-width: 280px;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat 5, 1fr;
    grid-template-rows: auto;
    grid-template-areas: "navbar navbar" 
                            "main cards " 
                            "mapa mapa"; 
}


.gridContainer .navbar{
    grid-area: navbar;
    width: 100vw;
    z-index: 1;
}

.gridContainer .main {
    grid-area: main;
    width: 100vw; 
}

.gridContainer #mapa {
    grid-area: mapa;
    width: 100vw;
}

/* --------------------------------- navbar --------------------------------- */
.navbar {
    height: 6vh;
    background-color:rgba(99, 28, 42, 0.7);
}
.gridContainer .container-fluid a{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}
#navbarNav ul li a {
    color: #fff;
    font-size: 1.1rem;
}
/* -------------------------------- carousel -------------------------------- */
.gridContainer .carousel-item {
    width: 100vw;
    height: 60vh;
}

.gridContainer .carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%; 
}

.carousel-caption h5 {
    text-shadow: 2px 2px 2px #000;  
} 
.carousel-caption p {
    text-shadow: 2px 1px 1px #000 ;
}

h3{
    font-size: 2rem;
}

/* ------------------------------- formulario ------------------------------- */

#formulario{
    border-radius: 1rem;
    border: #000 2px solid;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 4rem;
}

#formulario .contacto {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#formulario .btn{
    background-color: rgb(90, 25, 25);
    color: rgb(238, 195, 102);
    font-weight: bold;
    font-size: 1.2rem;
}

#formulario .form-group textarea{
    border-bottom: #000 0.03rem solid;
}
form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.borrar  {
    margin-bottom: 0.7rem;

}

.form-control{
    margin-bottom: 0.5rem;
}
.selectMes #mesFiltro{
    border: #000 0.01rem solid;
    border-radius: 0.3rem;
    width: 15rem;
    height: 2.3rem;
    box-shadow: 0.5px 0.5px #000;
}

.selectMes{
    margin-top: 0.5rem;
}

/* ----------------------------- gridFormulario ----------------------------- */
.grid_container{
    display: grid;
    grid-template-rows:1, 1fr ;
    grid-template-columns: 6, 1fr;
    grid-template-areas: "cards cards cards cards cards cards";
}

/* ---------------------------------- cards --------------------------------- */

.grid_container .cards {
    margin:4rem auto;
    margin-left: 5rem;
    width: 70%;
    display: flex;
    align-items: flex-end;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* --------------------------------- footer --------------------------------- */
footer{
    margin-top: 3rem;
}
footer iframe {
    width: 100vw;
    height: 50vh;
    
}

/* ----------------------- comienzo de medias queries ----------------------- */

@media (max-width: 768px) {
    .grid_container{
        display: grid;
        grid-template-rows:1, 1fr ;
        grid-template-columns: 1, 1fr;
        grid-template-areas: "cards";
    }
    .grid_container .cards {
        width: 100%;
        margin: auto;
    }
    #formulario{
        border-radius: 1rem;
        border: #000 2px solid;
        padding: 2rem;
        margin: 0 !important;
        
    }
    .gridContainer {
        width: 100vw;
        min-width: 400px;
    }
    .gridContainer .carousel-item{
        width: 100%;
        height: 100%;
    }
    .gridContainer .carousel-item img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    footer iframe{
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .gridContainer {
        width: 100vw; 
        min-width: 400px;
    }
    .gridContainer .carousel-item{
        width: 100%;
        height: 100%;
        min-width: 400px;
    }
    .gridContainer .carousel-item img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
